:root {
    /* Brand */
    --color-primary: #1D9E75;
    --color-primary-light: #E1F5EE;
    --color-primary-dark: #085041;

    /* Feature colors */
    --color-mood: #7F77DD;
    --color-mood-light: #EEEDFE;
    --color-sleep: #378ADD;
    --color-sleep-light: #E6F1FB;
    --color-meal: #BA7517;
    --color-meal-light: #FAEEDA;
    --color-period: #D4537E;
    --color-period-light: #FBEAF0;

    /* Layout */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* บังคับไม่ให้ทั้งหน้าเว็บเลื่อนขึ้นลงได้ */
}